.landing-page__block {
    margin-bottom: 30px;
}

.thumbnail.cuisine {
    margin: 0;
    padding: 0;
    height: 320px;
    float: left;
    border-radius: 0;
    border-color: #ebebeb;
}

.thumbnail.cuisine h3 {
    color: #555;
    font-size: 1.6em;
    font-weight: bold;
}

.thumbnail.cuisine img {
    padding: 15px;
}

.thumbnail.cuisine-main {
    color: #fff;
    background: #0b4fff;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    position: relative;
}

.thumbnail.cuisine-main .caption {
    color: #fff;
}

.thumbnail.cuisine-main h3 {
    color: #fff;
    font-size: 2.3em;
    margin-top: 65px;
}

.thumbnail.cuisine-main:after {
    left: 100%;
    top: 50%;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    border-left-color: #0b4fff;
    border-width: 6px;
    margin-top: -6px;
    z-index: 1;
}

.block-gallery {
    margin: 0;
}

.col-cuisine {
    margin: 0;
    padding: 0;
}

.col-cuisine:last-child .thumbnail.cuisine {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

article.cover,
section.blog .post {
    background-position: center;
    color: white;
    display: table;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    text-shadow: 2px 2px 2px #555;
    width: 100%;
    height: 600px;
}

.container article.cover {
    height: 450px;
}

article.cover a {
    color: white;
}

article.cover h1 {
    font-size: 7em;
    font-weight: 600;
}

article.cover h3 {
    font-family: 'PT Serif', sans-serif;
    font-size: 2em;
}

article.cover_container {
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

article.cover_container {
    height: 460px;
    text-shadow: 2px 2px 2px #555;
}

section.blog .post {
    height: 350px;
}

.cover_container_title {
    padding-top: 200px;
    text-align: left;
    width: 90%;
}

article.cover_container .cover_container_title a {
    background: rgba(0, 0, 0, 0.6);
    color: #efefef;
    display: block;
    padding: 10px 25px;
}

article.cover_container .cover_container_title h1 {
    font-size: 54px;
    font-weight: bold;
}

.cover_title {
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

.text-vertical-center {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

#articles .article {
    background: white;
    padding: 5px;
}

article p {
    font-family: 'PT Serif', sans-serif;
}

article.grid-main {
    background: #fff;
    height: 325px;
    overflow: hidden;
}

article.grid-main .thumb {
    min-height: 325px;
    background-position: center;
    background-size: cover;
}

article.grid-2 {
    background: #fff;
    min-height: 325px;
    margin-top: 20px;
}

article.grid-2 .thumb {
    height: 170px;
    background-position: center;
    background-size: cover;
}

.thumb i,
.label i {
    position: relative;
    top: 30px;
    left: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-style: normal;
    padding: 5px 10px;
    font-weight: bold;
    color: #fff;
    border-radius: 4px;
}

.places-list-item-info,
.tastes-list-item-info {
    background: #fff;
    padding: 10px 10px 10px 0;
    min-height: 120px;
}

.places-list-item-container i,
.grid-main .label i {
    background: #B425E1;
}

.tastes-list-item-container i {
    background: #308A47;
}

.grid-main .place-meta {
    margin: 20px 0 0 15px;
}

article.grid-2 h5 {
    padding: 0 19px;
    font-size: 1.2em;
    font-weight: bold;
}

article.grid-2 p {
    color: #999;
    margin: 0 20px;
}

article.grid-list {
    padding: 15px 0 30px 35px;
    margin-left: -0.714em;
    border-left: 2px solid #ebebeb;
}

article.grid-list .thumb {
    height: 80px;
    width: 80px;
    background-position: center;
    background-size: cover;
    margin-top: 20px;
}

article.grid-list h5 {
    font-size: 1.2em;
    padding: 20px;
}

article.grid-list p {
    color: #999;
    padding: 0 20px;
    margin: 0;
}

.grid-list-container {
    height: 624px;
    overflow: auto;
}

.feeds {
    max-height: 350px;
    overflow: auto;
}

.feeds ul {
    padding-left: 0;
    list-style: none;
}

.feeds li a {
    display: block;
    padding: 15px 0 30px 35px;
    margin-left: -0.714em;
    border-left: 2px solid #ebebeb;
}

.schedule-layout--grid-list li.media,
.feeds li {
    background: #fff;
    display: table;
    margin-top: 0;
    margin-bottom: 1px;
    width: 100%;
}

.schedule-layout--grid-list li.media:before,
.feeds li:before {
    padding-left: 20px;
    padding-top: 20px;
    content: "• ";
    font-size: 2.6em;
    color: #4fd62a;
    display: table-cell;
    text-align: center;
    vertical-align: top;
}

h4.header {
    background: #fff;
    border-bottom: 1px solid #ebebeb;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0;
    padding: 15px 23px;
    text-transform: uppercase;
}

.schedule-layout--grid {
    margin-top: 20px;
}

.schedule-layout--grid-list {
    position: relative;
    min-height: 1px;
}

.grid-main .thumbnail {
    padding: 0;
    border: 0 none;
    border-radius: 0;
}

.schedule-layout--grid p{
    color: #999;
    font-style: italic;
    margin: 20px;
}

.schedule-layout--grid h5{
    padding: 25px 20px;
    font-size: 2em;
    font-weight: bold;
}

.schedule-layout--grid a {
    color: #000;
    display: block;
}
