{% extends 'EzSystemsFormBuilderBundle:fields:field.html.twig' %}
{% trans_default_domain "formfield" %}

{% block input %}
    <div class="ezform-field-group" data-error-message="{{ 'field.is.required'|trans }}">
        <div class="ezform-field-indicator"></div>
        <div class="ezform-field-wrapper">
            <input
                id="{{ field.id }}"
                type="text"
                class="ezform-field ezform-single_line_text form-control"
                placeholder="{{ field.placeholderText }}"
                {% if field.isRequired %}required{% endif %}
                >
        </div>
    </div>
{% endblock %}
