<div data-studio-zones-container>
    <div class="landing-page__zone landing-page__zone--{{ zones[0].id }}" data-studio-zone="{{ zones[0].id }}">
        {% if zones[0].blocks %}
            {% include '@ezdesign/zone/zone.html.twig' with {'blocks': zones[0].blocks} %}
        {% endif %}
    </div>
</div>
