.gallery.carousel {
    padding: 0;
    margin-bottom: 20px;
}

.gallery-control {
    width: 30px;
    height: 30px;
    margin: -15px;
}

.gallery-left {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    display: inline-block;
}

.gallery-left:before {
    content: url('/bundles/app/images/arrow-left.svg');
}

.gallery-right {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    display: inline-block;
}

.gallery-right:before {
    content: url('/bundles/app/images/arrow-right.svg');
}
