{% extends ':blocks:_block.html.twig' %}

{% block block_identifier %}banner{% endblock %}
{% block block_class %}row {{ block_class }}{% endblock %}

{% block block_content %}
    <a href="{{ url }}" title="{{ url }}" target="_blank">
        {{ ez_render_field(content,'image', {
            'parameters': {
                'class': 'img-fluid banner-full'
            }
        })}}
    </a>
{% endblock %}
