<div class="row block-banner">
    <div class="col-md-10 col-md-offset-1">
        <a href="{{ url }}" title="{{ url }}" target="_blank">
            {{ ez_render_field(content,'image', {
                'parameters': { 'class': 'img-fluid banner-full' }
            }) }}
        </a>
    </div>
</div>
