<div class="row block-banner">
    <a href="{{ url }}" title="{{ url }}" target="_blank">
        {{ ez_render_field(content,'image', {
            'parameters': {
                'class': 'img-fluid banner-full'
            }
        })}}
    </a>
</div>
