{% trans_default_domain 'ugc_fieldtype' %}

{% set fieldtype_name = 'ezugc.name'|trans({}, 'fieldtypes')|desc('User generated content') %}

{% block ezugc_field_definition_edit %}
    <h1>Dupa</h1>
{% endblock %}
