{% extends 'EzSystemsFormBuilderBundle:fields:field.html.twig' %}

{% block input %}
    <select id="{{ field.id }}" class="ezform-field ezform-dropdown form-control">
    {% for option in field.options.choices.value %}
        <option value="{{ option.value }}" {% if option.checked %}selected{% endif %}>{{ option.value }}</option>
    {% endfor %}
    </select>
{% endblock %}
